.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media only screen and (max-width: 390px) {
  .modal-show {
    top: 25%;
  }
}
